@using LocalFood.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<br />
<div class="fusion-text">
    <h2 style="text-align: center; font-size: 25.5px; line-height: 30.357px;" data-fontsize="80" data-lineheight="50">НАШИТЕ ПРОИЗВОДИТЕЛИ</h2>
</div>

