@using LocalFood.Common
@model LocalFood.Web.ViewModels.Producers.OurProducersViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div>
    <h2 class="myclass">НАШАТА МИСИЯ</h2>
</div>
<br />
<br />
<br />
<div class="container-fluid">
    <img src="~/pics/index-middle.png" class="img-fluid w-100" alt="Responsive image" />
</div>
<br />
<br />
<br />
<partial name="_ProducersPartial" model="@Model">
    <hr />


